footer {
    height: 25vh;
    background-color: #576cbc;
    font-family: 'calibri', 'Gill Sans';
    font-size: 25px;
    color: hwb(195 65% 9%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon {
    position: relative;
    margin: 10px;
    border-radius: 30%;
    transition: all .8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon i {
    color: white;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    font: size 1.7rem;
}

svg circle {
    stroke-dasharray: 30;
    transition: all .8s ease-in-out;
}

.icon:hover circle {
    stroke-dasharray: 250;
}