@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DynaPuff&family=Prompt:wght@500;600&display=swap');

/*Generales*/
header {
    display: flex;
    background-color: #0b2447;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.boton {
    border: 2px  solid #a5d7e8; 
    padding: 10px; 
    background-color: #576cbc; 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'calibri', 'Gill Sans'; 
    border-radius: 50px; 
    margin-left: auto;
}

.logo img {
    height: 60px;
    align-items: center;
    border-radius: 100px;

}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.titulo {
    color: #ffffff;
}

.botonContainer {
    display: flex;
    align-items: center;
    
    
}
.botonesNavegacion {
    display: flex;
    gap: 10px;
    
}

/*Media Query*/
@media (max-width:490px){
    .boton {
        border: 1px  solid #a5d7e8; 
        padding: 1px; 
        background-color: #576cbc; 
        color: #ffffff; 
        text-decoration: none; 
        text-transform: uppercase; 
        font-family: 'calibri', 'Gill Sans'; 
        border-radius: 10px; 
        margin-left: auto;
    }

    .botonContainer {
        display: flex;
        align-items: center;
        
        
    }
    .botonesNavegacion {
        display: flex;
        gap: 5px;
        
    }
}