body{
    margin:0%;
}


main{
    background-color:#A5D7E8;
    height: 140vh;
    margin-top: -3%;
}

.boton1{
    border: 2px  solid #a5d7e8; 
    padding: 10px; 
    background-color: #576cbc; 
    color: #0B2447; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'calibri', 'Gill Sans'; 
    border-radius: 50px; 
}


.tituloTour {
    text-align: center;
    color: #0B2447;
    box-shadow: white;
    font-family: 'DynaPuff', cursive;
    font-size: 20px;
}
.Fechas {
    text-align: center;
    color:#0B2447;
    font-family: 'DynaPuff', cursive;
    margin-top: 20px;
    font-size: 20px;
}

.Fechas {
    display: flex;
    justify-content: space-evenly;
    padding: 10%;
}

#map{
    margin-top: 5%;
    margin-left: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px; 
    height: 450px;
}

/*Media Query*/
@media (max-width:600px){

    main{
        background-color:#A5D7E8;
        height: 200vh;
        margin-top: -3%;
    }

    .Fechas {
        display: grid;
        padding: 10%;
    }
    
    #map{
        margin-top: 5%;
        margin-left: 10%;
        display: flex;
        align-items: center;
        justify-content: center; 
        width: 350px; 
        height: 300px;
    }
}